<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="{{ url_for('static', filename='bower_components/lodash/dist/lodash.js') }}"></script>
  <script src="{{ url_for('static', filename='bower_components/angular/angular.js') }}"></script>
  <script src="{{ url_for('static', filename='bower_components/angular-i18n/angular-locale_nb-no.js') }}"></script>
  <script src="{{ url_for('static', filename='bower_components/angular-route/angular-route.js') }}"></script>
  <script src="{{ url_for('static', filename='bower_components/angular-bootstrap/ui-bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='bower_components/angular-bootstrap/ui-bootstrap-tpls.js') }}"></script>
  <script src="{{ url_for('static', filename='bower_components/angular-stripe-checkout/angular-stripe-checkout.js') }}"></script>
  <script src="{{ url_for('static', filename='bower_components/spin-js/spin.js') }}"></script>
  <script src="/badge-data-service.js"></script>
  <script src="/core-data-service.js"></script>
  <script src="/door-data-service.js"></script>
  <script src="/p2k16_resources.js"></script>
  <script src="{{ url_for('static', filename='p2k16/p2k16.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='p2k16/p2k16.css') }}"/>
  <script id="p2k16">var p2k16 = {};</script>
  <script id="p2k16-badgeDescriptions">
    p2k16.badgeDescriptions = {{ badge_descriptions | tojson | safe }};
  </script>
  <script id="p2k16-circles">
    p2k16.circles = {{ circles | tojson | safe }};
  </script>
  {% if account and current_user.is_authenticated %}
    <script id="p2k16-account">
      p2k16.account = {{ account | tojson | safe }};
    </script>
  {% endif %}
  {% if circles_with_admin_access %}
    <script id="p2k16-circles">
      p2k16.circlesWithAdminAccess = {{ circles_with_admin_access | tojson | safe }};
    </script>
  {% endif %}
  <script id="misc">
    stripe_pubkey = {{ stripe_pubkey | tojson | safe }};
    gitRevision = {{ gitRevision | tojson | safe }};
  </script>

</head>
{% block content %}{% endblock %}
</html>
